/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/
@media screen and (min-width: 737px) {
	body,input,textarea,select
	{
		font-size: 13pt;
		line-height: 1.65em;
	}

	#nav { font-size: 11pt; }

	.tweet
	{
		text-align: center;
	}

	.timestamp
	{
		display: block;
		text-align: center;
	}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

	.footerColumn { height: auto; margin-top: inherit; }

	#respons { text-align: center; margin: -32px 0 0 0; }

/*********************************************************************************/
/* Carousel                                                                      */
/*********************************************************************************/

	.carousel
	{
		padding: 1.25em 0 1.25em 0;
	}

		.carousel article
		{
			width: 18em;
			margin: 0 1em 0 0;
		}
}
