/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/
@media screen and (min-width: 840px) {
	body,input,textarea,select
	{
		font-size: 12pt;
		line-height: 1.5em;
	}

	.col-width-8.collapse {
		width: 66.6666%;
	}
	.col-width-4.collapse {
		width: 33.3333%;
	}
	.collapse {
		float: left;
		width: inherit;
	}

	#content.col-width-8 {
		padding-right: 25px;
	}
	#sidebar.col-width-4 {
		padding-left: 25px;
	}
/*********************************************************************************/
/* Wrapper                                                                       */
/*********************************************************************************/

	.wrapper
	{
		padding-left: 2em;
		padding-right: 2em;
	}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/
	#nav > ul > li > a {
		font-size: 18px;
	}

		#header .inner
		{
			padding-left: 2em;
			padding-right: 2em;
		}

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

	#banner
	{
		padding-left: 2em;
		padding-right: 2em;
	}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

	#footer
	{
		padding-left: 2em;
		padding-right: 2em;
	}
}
