<!-- Footer -->
<div id="footer">
    <div class="container">
        <div class="row">
            <section class="col-width-4 collapse">
                <a href="#nav" class="scrolly" id="logo"><img id="footerLogo" src="images/logo.png" alt="" /></a>
            </section>
            <section class="col-width-4 collapse">
                <div class="footerColumn"><h3>ul. Krynicka 32</h3>
                <h3>60-473 Poznań</h3></div>
            </section>
            <section class="col-width-4 collapse">
                <div class="footerColumn"><h3>telefon: 503 819 391</h3>
                <h3>mail: <a href="mailto:info@aquatech.net.pl">info@aquatech.net.pl</a></h3></div>
            </section>
        </div>
    </div>
</div>
<script type="text/javascript">
    /* replace:dist/js/main.js */
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-60238895-1', 'auto');
    ga('send', 'pageview');
</script>
